<!DOCTYPE html>
<html>
<head>
  <title>Mpcm</title>
  <%= stylesheet_link_tag    "mpcm/application", media: "all" %>
  <%= javascript_include_tag "mpcm/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
