h1 #{@article.title}

= carousel_for(@article.images_urls)

h4 Contenu
p #{@article.content}

h4 Description
span Hauteur:
=< @article.formatted_height
br
span Largeur:
=< @article.formatted_width
br
span Profondeur:
=< @article.formatted_depth
br
span Poids:
=< @article.formatted_weigth
br
span Prix:
=< @article.formatted_price
br
= link_to 'Retour', articles_path
span  |
=< link_to 'Modifier', edit_article_path(@article)
span  |
=< link_to 'Modifier les images', edit_images_article_path(@article)

javascript:
  $(function(){
    $('.carousel').carousel({
      interval: false
    })
    $('.item:first').addClass('active');
  });
